@import './../../scss/functions.scss';
.panelhead {
    margin-bottom: 40px;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid rgba(245, 89, 38, 1);
    &__title {
      margin-right: auto;
      font-size: 48px;
      font-weight: 400;
    }
    input {
      border-radius: 20px;
      background-color: #353535;
      padding-right: 120px;
      color: white;
    }
    .search {
      display: flex;
      img {
        width: 40px;
        height: 40px;
        margin-left: -80px;
        margin-top: 18px;
      }
    }
  }


@media(max-width: 1920px) {
  .panelhead {
    margin-bottom: calcVW(40);
    padding: calcVW(30) calcVW(50);
    gap: calcVW(30);
    &__title {
      font-size: calcVW(48);
    }
    input {
      border-radius: calcVW(20);
      padding-right: calcVW(120);
    }
    .search {
      img {
        width: calcVW(40);
        height: calcVW(40);
        margin-left: calcVW(-80);
        margin-top: calcVW(18);
      }
    }
  }
}