@import "../../scss/_functions.scss";
.main {
  width: 100%;
  display: flex;
  min-height: 100vh;
  padding-bottom: 5vh;
}
.navigation {
  position: relative;
  padding-right: 20px;
  width: 10%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 0 20px 20px 0;
  color: #fff;
  background-color: #353535;
  &__top {
    padding-top: 25px;
    height: 125px;
    margin-left: 20px;
    margin-bottom: 60px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }
  &__logo {
    width: 200px;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
  }
  &__name {
    font-weight: 500;
  }
  &__login {
    font-size: 16px;
  }
  &__list {
    padding-bottom: 50px;
  }
  &__link {
    display: block;
    padding: 15px 25px 15px 50px;
    border-radius: 0 20px 20px 0;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      margin-left: 10px;
      width: 20px;
      height: 16px;
      transform: translateY(25%) translateX(-50%);
      background-image: url(../../resourses/icons/arrow-orange.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
    &:hover {
      background-color: rgba(243, 237, 223, 0.5);
    }
    &.active {
      padding: 25px 25px 25px 50px;
      background-color: rgba(243, 237, 223, 1);
      color: #000;
      &::after {
        opacity: 1;
        transform: translateY(25%) translateX(0);
      }
    }
  }
  &__bottom {
    position: sticky;
    margin-top: auto;
    margin-left: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(255, 255, 255, .5);
  }
  &__logout {
    padding: 20px 0 25px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 16px;
      transform: translateY(12%) translateX(-140%);
      background-image: url(../../assets/icons/arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all 0.5s ease-in-out;
    }
  }
  &__exit {
    display: block;
    height: 100%;
  }
}
.content {
  width: 100%;
  height: 100%;
  max-width: 1540px;
  padding: 0 70px;
}

@media (max-width: 1920px) {
  .navigation {
    padding-right: calcVW(20);
    min-width: calcVW(300);
    border-radius: 0 calcVW(20) calcVW(20) 0;
    &__top {
      padding-top: calcVW(25);
      height: calcVW(125);
      margin-left: calcVW(20);
      margin-bottom: calcVW(60);
      padding-bottom:calcVW(25);
      gap: calcVW(20);
    }
    &__logo {
      width: calcVW(200);
    }
    &__login {
      font-size: calcVW(16);
    }
    &__list {
      padding-bottom: calcVW(50);
    }
    &__link {
      padding: calcVW(15) calcVW(25) calcVW(15) calcVW(50);
      border-radius: 0 calcVW(20) calcVW(20) 0;
      font-size: calcVW(16);
      &::after {
        margin-left: calcVW(10);
        width: calcVW(20);
        height: calcVW(16);
      }
      &.active {
        padding: calcVW(25) calcVW(25) calcVW(25) calcVW(50);
      }
    }
    &__bottom {
      margin-left: calcVW(20);
      padding-top: calcVW(50);
      padding-bottom: calcVW(20);
    }
    &__logout {
      padding: calcVW(20) 0 calcVW(25);
      font-size: calcVW(20);
      border-radius: calcVW(20);
      &::before {
        width: calcVW(20);
        height: calcVW(16);
      }
    }
  }
  .content {
    width: 100%;
    height: 100%;
    max-width: calcVW(1540);
    padding: 0 calcVW(70);
  }
}