@import './../../scss/functions';
.news {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__box {
        border-radius: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
        margin-bottom: 40px;
        &:nth-child(2n) {
            background-color: #F0F0F0;
        }
        span {
            overflow: hidden;
            height: 50px;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 20px;
            &:nth-of-type(1) {
                width: 2%;
                color: rgba(228, 31, 38, 1)
            }
            &:nth-of-type(2) {
                width: 25%;
            }
            &:nth-of-type(3) {
                width: 65%;
            }
            &:nth-of-type(4) {
                width: 10%;
            }
        }
        span + span {
            padding-left: 20px;
            margin-right: 20px;
            border-left: 1px solid rgba(53, 53, 53, 0.2);
        }
        span {
            
            margin-bottom: 40px;
            margin-top: 40px;
            padding-left: 20px;
            img {
                width: 35px;
                 
            }
            display: flex;
            gap: 20px;
            span {
                &:nth-last-of-type(1) {
                    width: 80%;
                    padding-left: 0px;
                }
                margin-bottom: 20px;
                margin-top: 20px;
                
            }
        }
    }
    
    &__btn {
        margin-top: 20px;
        margin-bottom: 20px;
        &--add {
            margin-left: 0;
        }
    }
}
@media(max-width:1920px) {
    .news {
        &__box {
            border-radius: calcVW(20);
            padding-top: calcVW(40);
            padding-bottom: calcVW(40);
            padding-left: calcVW(20);
            padding-right: calcVW(20);
            margin-bottom: calcVW(40);
            span {
                height: calcVW(50);
                margin-bottom: calcVW(20);
            }
            span + span {
                padding-left: calcVW(20);
                margin-right: calcVW(20);
            }
            span {
                
                margin-bottom: calcVW(40);
                margin-top: calcVW(40);
                padding-left: calcVW(20);
                img {
                    width: calcVW(35);
                }
                gap: calcVW(20);
                span {
                    margin-bottom: calcVW(20);
                    margin-top: calcVW(20);
                    
                }
            }
        }
        
        &__btn {
            margin-top: calcVW(20);
            margin-bottom: calcVW(20);
        }
    }
}